html {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
  max-width: 450px;
  padding-top: 10px;
  height: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.board {
  width: 90%;
  max-width: 260px;
  height: 50vh;
  max-height: 320px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.game-row {
  height: 7.8vh;
  max-height: 60px;
  display: flex;
  justify-content: space-between;
}

.game-square {
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border: 2px solid  #D3D6DA;
  border-radius: 2px;
}

.keyboard {
  margin-top: 2vh;
  height: 32vh;
  width: 95%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.keyboard-row {
  width: 100%;
  height: 9.4vh;
  gap: 0.5%;
  display: flex;
  justify-content: space-between;
}

.kb-row-2 {
  max-width: 90%;
}

.key {
  background-color: #D3D6DA;
  color: black;
  text-align: center;
  flex-grow: 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}