body {
  margin: 0;
  display: flex;
  justify-content: center;
}

main {
  /* max-width: 600px; */
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  max-width: 450px;
  padding-top: 10px;
  height: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.board {
  width: 80%;
  max-width: 300px;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-row {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
}

.game-square {
  width: 17%;
  padding-bottom: 17%;
  border: 2px solid black;
  border-radius: 2px;
}

.keyboard {
  height: 200px;
  /* max-height: 30vh; */
  width: 95%;
  max-width: 500px;
}

.keyboard-row {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.key {
  background-color: grey;
  text-align: center;
  padding-top: 12px;
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 5px;
}